In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
url22 = 'https://getij.rws.nl/data2022/xml/hwlw-WESTTSLG-20220101-20221231.xml'
url23 = 'https://getij.rws.nl/data2023/xml/hwlw-WESTTSLG-20230101-20231231.xml'
xml_data = requests.get(url22).content 

def parse_xml(xml_data):
  # Initializing soup variable
    soup = BeautifulSoup(xml_data, 'xml')

  # Creating column for table
    df = pd.DataFrame(columns=['datetime', 'tide', 'val'])

  # Iterating through item tag and extracting elements
    all_value = soup.find_all('value')
    value_length = len(all_value)
    
    for index, value in enumerate(all_value):
        datetime = value.find('datetime').text
        tide = value.find('tide').text
        val = value.find('val').text

       # Adding extracted elements to rows in table
        row = {
            'datetime': datetime,
            'tide': tide,
            'val': val
        }

        df = df.append(row, ignore_index=True)
        #print(f'Appending row %s of %s' % (index+1, value_length))

    return df

df = parse_xml(xml_data)
df

            datetime tide    val
0     202201010113     LW    -88
1     202201010731     HW     97
2     202201011348     LW    -89
3     202201012001     HW     90
4     202201020220     LW    -96
...              ...  ...    ...
1406  202212302038     LW    -89
1407  202212310305     HW    104
1408  202212310927     LW    -82
1409  202212311536     HW     56
1410  202212312136     LW    -82

[1411 rows x 3 columns]

In [3]:
#pd.read_csv('input/tidal_coast_stations_2022.csv')

### Using part of url string to rename output csv

In [4]:
url22 = 'https://getij.rws.nl/data2022/xml/hwlw-WESTTSLG-20220101-20221231.xml'
text_22 = url22[34:-4] # remove :34 "https://getij.rws.nl/data2022/xml/", remove :-4 .xml
text_23 = url23[34:-4]
print(text_22)

hwlw-WESTTSLG-20220101-20221231

In [5]:
# Please set current year as text entry
entry = text_22 

df.to_csv('temp.csv') # using temp.csv to ignore some errors with datetime
df = pd.read_csv('temp.csv')
datetime_entry = pd.to_datetime(df.datetime,format="%Y%m%d%H%M")
df["datetime"] = datetime_entry
df.drop(df.columns[0], axis = 1)

                datetime tide  val
0    2022-01-01 01:13:00   LW  -88
1    2022-01-01 07:31:00   HW   97
2    2022-01-01 13:48:00   LW  -89
3    2022-01-01 20:01:00   HW   90
4    2022-01-02 02:20:00   LW  -96
...                  ...  ...  ...
1406 2022-12-30 20:38:00   LW  -89
1407 2022-12-31 03:05:00   HW  104
1408 2022-12-31 09:27:00   LW  -82
1409 2022-12-31 15:36:00   HW   56
1410 2022-12-31 21:36:00   LW  -82

[1411 rows x 3 columns]

### Datetime filter

In [6]:
#tupper_days > tday > tlower_days

#change time delta:
tupper_days = 0
tlower_days = 0
tday = dt.datetime.today()
tupper = dt.datetime.combine(dt.date.today(), dt.datetime.max.time()) + dt.timedelta(days=tupper_days)
tlower = dt.datetime.combine(dt.date.today(), dt.datetime.min.time()) - dt.timedelta(days=tlower_days)

In [7]:
print("today: " +str(tday))
print("tupper: "+str(tupper))
print("tlower: "+str(tlower))

date_upper_str = str(tupper.date()) # used for filename for output file 
date_lower_str = str(tlower.date())

today: 2022-05-16 21:39:41.768546
tupper: 2022-05-16 23:59:59.999999
tlower: 2022-05-16 00:00:00

In [8]:
output_csv = entry[:-18] + "_from_" + date_lower_str+"_to_"+ date_upper_str+".csv"
print('filtered data output (fdo): ' + output_csv)

filtered data output (fdo): hwlw-WESTTSLG_from_2022-05-16_to_2022-05-16.csv

### Filtered dataframe

In [9]:
fdo = df[(df['datetime'] > tlower) & (df['datetime'] < tupper)]
fdo = fdo.drop(fdo.columns[0], axis = 1)
fdo.to_csv(output_csv)

fdo

               datetime tide  val
522 2022-05-16 04:12:00   LW -125
523 2022-05-16 10:22:00   HW   75
524 2022-05-16 16:32:00   LW -124
525 2022-05-16 22:39:00   HW   90

In [10]:
rws_tide_st =["Harmsenbrug",
              "Hartelbrug",
              "Hartelhaven",
              "Heesbeen",
              "Hellevoetsluis",
              "Hoek van Holland",
              "Holwerd",
              "Huibertgat",
              "IJmuiden",
              "Kats",
              "Keizersveer",
              "Kornwerderzand",
              "Krammersluizen west",
              "Krimpen aan de IJssel",
              "Krimpen aan de Lek",
              "Lauwersoog",
              "Lith dorp",
              "Maassluis",
              "Marollegat",
              "Moerdijk",
              "Nes",
              "Nieuwe Statenzijl",
              "Oosterschelde 04",
              "Oosterschelde 11",
              "Oosterschelde 14",
              "Oudeschild",
              "Overloop van Hansweert",
              "Parksluis",
              "Rak Noord",
              "Roompot binnen",
              "Roompot buiten",
              "Rotterdam",
              "Rozenburgsesluis noordzijde",
              "Rozenburgsesluis zuidzijde",
              "Schaar van de Noord",
              "Scheveningen",
              "Schiermonnikoog",
              "Schoonhoven",
              "Sint Annaland",
              "Spijkenisse",
              "Stavenisse",
              "Suurhoffbrug noordzijde",
              "Tennesseehaven",
              "Terneuzen",
              "Terschelling Noordzee",
              "Texel Noordzee",
              "Vlaardingen",
              "Vlakte van de Raan",
              "Vlieland haven",
              "Vlissingen",
              "Vuren",
              "Walsoorden",
              "Werkendam buiten",
              "Westkapelle",
              "West-Terschelling",
              "Wierumergronden",
              "Yerseke"]

### sources

In [26]:
""" 
XML Parse
src = https://stackabuse.com/parsing-xml-with-beautifulsoup-in-python/

url = 'https://rss.nytimes.com/services/xml/rss/nyt/US.xml'
xml_data = requests.get(url).content 


def parse_xml(xml_data):
  # Initializing soup variable
    soup = BeautifulSoup(xml_data, 'xml')

  # Creating column for table
    df = pd.DataFrame(columns=['guid', 'title', 'pubDate', 'description'])

  # Iterating through item tag and extracting elements
    all_items = soup.find_all('item')
    items_length = len(all_items)
    
    for index, item in enumerate(all_items):
        guid = item.find('guid').text
        title = item.find('title').text
        pub_date = item.find('pubDate').text
        description = item.find('description').text

       # Adding extracted elements to rows in table
        row = {
            'guid': guid,
            'title': title,
            'pubDate': pub_date,
            'description': description
        }

        df = df.append(row, ignore_index=True)
        print(f'Appending row %s of %s' % (index+1, items_length))

    return df
"""

"""
DATETIME QUERIES
https://stackoverflow.com/questions/66516945/query-pandas-datetime-and-filtering-between-current-date-upper-lower-timedelt?noredirect=1#comment117615985_66516945

"""

'\nDATETIME QUERIES\nhttps://stackoverflow.com/questions/66516945/query-pandas-datetime-and-filtering-between-current-date-upper-lower-timedelt?noredirect=1#comment117615985_66516945\n\n'